body {
  display: block;
  background-color: white;
  font-family: "Lato", sans-serif;
  font-family: "Montserrat", sans-serif;
  font-size: 0.9em;
  margin: 10px auto;
  width: 800px;
}
h3 {
  margin: 0.4em;
}
section {
  display: flex;
  flex-wrap: nowrap;
  border: 1px solid #c3c3c3;
  height: 25px;
}
section p {
  margin: 1px;
}
select {
  width: 100%;
  min-width: 15ch;
  max-width: 30ch;
  border: 1px solid rgb(137, 35, 64);
  border-radius: 0.25em;
  padding: 0.25em 0.5em;
  font-size: 0.8rem;
  cursor: pointer;
  line-height: 1.1;
  background-color: #fff;
  background-image: linear-gradient(to top, #f9f9f9, #fff 33%);
}

section div {
  display: flex;
}

.shadowbox {
  color: white;
  background-color: rgb(137, 35, 64);
  padding: 5px;
  border-radius: 5px;
  align-items: center;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 12px 15px 0 rgba(0, 0, 0, 0.19);
}

.shadowimg {
  border: 1px solid rgb(137, 35, 64);
  border-radius: 5px;
  margin: auto;
  align-items: center;
  width: 100px;
  height: 150px;
  object-fit: fill;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 12px 15px 0 rgba(0, 0, 0, 0.19);
}

.headerimg,
.footerimg {
  width: 80%;
  align-items: center;
}

table {
  width: 30%;
}

th,
td {
  text-align: center;
  padding: 2px;
}

tr:nth-child(even) {
  background-color: rgb(243, 169, 190);
}

hr {
  border: 1px solid rgb(137, 35, 64);
}

.update {
  font-size: 85%;
}

form {
  background-color: rgb(137, 35, 64);
  height: 25px;
  border-radius: 3px;
  display: flex;
}

input {
  all: unset;
  font: 16px system-ui;
  color: #fff;
  height: 38%;
  width: 100%;
  padding: 6px 3px;
  border: 1px solid rgb(137, 35, 64);
  border-radius: 5px;
}

::placeholder {
  color: #fff;
  opacity: 0.7;
}

svg {
  color: #fff;
  fill: currentColor;
  width: 20px;
  height: 20px;
  padding: 3px;
}

button {
  all: unset;
  cursor: pointer;
  width: 30px;
  height: 30px;
}